/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
	height:100%;
}

body {
	min-height: 100%;
}

.background {
	background-image: url(images/splash-bg.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	position: fixed;
	/*width: 980px;
	height: 456px;*/
	width: 500px;
	height: 233px;
	z-index: -1;
	bottom: 0;
	right: 0;
	max-width: 100%;
}

.footer {
	position: absolute;
	/*bottom: 0;*/
	width: 100%;
	/* Set the fixed height of the footer here */
	/*height: 70px;*/
	background-color: rgba(0, 0, 0, 0.6);
	color: #F0F0F0;
	margin-top: 20px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

@font-face {
	font-family: 'DIN';
	font-style: normal;
	font-weight: 400;
	/*src: local('DIN Next LT Pro Regular'), url(fonts/DINNextLTPro-Regular.otf);*/
	src: url(fonts/DINNextLTPro-Regular.otf);
}
@font-face {
	font-family: 'DIN';
	font-style: italic;
	font-weight: 400;
	src: url(fonts/DINNextLTPro-Italic.otf);
}

@font-face {
	font-family: 'DIN Light';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/DINNextLTPro-Light.otf);
}
@font-face {
	font-family: 'DIN Light';
	font-style: italic;
	font-weight: 400;
	src: url(fonts/DINNextLTPro-LightItalic.otf);
}

@font-face {
	font-family: 'DIN UltraLight';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/DINNextLTPro-UltraLight.otf);
}
@font-face {
	font-family: 'DIN UltraLight';
	font-style: italic;
	font-weight: 400;
	src: url(fonts/DINNextLTPro-UltraLightIt.otf);
}

* {
	font-family: 'DIN';
}

h1, h2, h3, .lead, .blue-badge {
	font-family: 'DIN UltraLight';
	text-transform: uppercase;
}

input, textarea {
	
}

.glyphicon {
	color: #214ed3;
}

label {
	font-weight: initial;
}

.container {
	position: relative;
	width: auto;
	max-width: 720px;
	padding: 0 15px;
}

p {
	text-align: justify;
}

.container .text-muted {
	margin: 20px 0;
}

.container form textarea {
	width: 100%;
	resize: vertical;
}

li {
	margin-top: 15px;
}
ul {
	margin-bottom: 15px;
}

.hack-bg {
	/*background-image: url(images/hack-bg-blue.jpg);*/
	background-image: url(images/hack-bg-grey.jpg);
	background-size: cover;
	background-position: 50% 50%;
}

.hack-bg h2 {
	text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}

form#challenge .row input {
	width: 100%;
	margin-bottom: 0.5em;
}

/*form#challenge .row {
	margin-bottom: 20px;
}*/

#desciption-length {
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: right;
}

#desciption-length.too-long {
	color: red;
}

.blue-badge {
	background-color: #214ed3;
	padding: 0.3em;
	font-size: 30px;
	color: white;
	text-align: center;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#thanks {
	position: absolute;
	top: 0;
	padding-top: 33%;
	display: none;
}

.footer .case {
	margin-bottom: 20px;
}

.case a {
	color: #F0F0F0;
}

.case a:hover {
	text-decoration: none;
}

.case span.image {
	display: block;	
	height: 130px;
	width: 100%;
	background-size: cover;
}

.case p.centered {
	text-align: center;
}

.case#airtame span.image {
	background-image: url(images/cases/airtame.png);
}

.case#os-video span.image {
	background-image: url(images/cases/os-video.png);
}

.case#dka span.image {
	background-image: url(images/cases/dka.png);
}

.case#gcl span.image {
	background-image: url(images/cases/gcl.png);
}

.case#vm-spil span.image {
	background-image: url(images/cases/vm-spil.png);
}

.case#rokoko span.image {
	background-image: url(images/cases/rokoko.jpg);
}
